.example {
    color: #FFF;
    text-align: justify;
}

.example::after {
    /*color: black;
    background-color: red; */
    content: 'isso foi criado com css';
    display: inline-block;
    width: 100%;
}

.example-item {
    display: inline-block;
    width: 25%;
    height: 150px;
    text-align: center;
    padding-top: 75px;
}

a {
    text-decoration: none;
    color: #FFF;
}

.example-item_first {
    background-color: #FAA116;
}

.example-item_second {
    background-color: #57C7C3;
}

.example-item_third {
    background-color: #3B97D3;
}

.centralizar {
    text-align: center;
}